In [45]:
import pandas as pd
import pyarrow.parquet as pq

In [46]:
taxidata = pq.read_table('yellow_tripdata2021.parquet')
taxidata = taxidata.to_pandas()
taxidata.tpep_pickup_datetime = pd.to_datetime(taxidata.tpep_pickup_datetime)
taxidata.tpep_dropoff_datetime  = pd.to_datetime(taxidata.tpep_dropoff_datetime)
taxidata

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.00,3.00,0.5,0.00,0.00,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.00,0.50,0.5,0.00,0.00,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.00,0.50,0.5,8.65,0.00,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.00,0.50,0.5,6.05,0.00,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.50,0.50,0.5,4.06,0.00,0.3,24.36,2.5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369764,2,2021-01-31 23:03:00,2021-01-31 23:33:00,NaN,8.89,NaN,None,229,181,0,27.78,0.00,0.5,7.46,0.00,0.3,38.54,NaN,NaN
1369765,2,2021-01-31 23:29:00,2021-01-31 23:51:00,NaN,7.43,NaN,None,41,70,0,32.58,0.00,0.5,0.00,6.12,0.3,39.50,NaN,NaN
1369766,2,2021-01-31 23:25:00,2021-01-31 23:38:00,NaN,6.26,NaN,None,74,137,0,16.85,0.00,0.5,3.90,0.00,0.3,24.05,NaN,NaN
1369767,6,2021-01-31 23:01:06,2021-02-01 00:02:03,NaN,19.70,NaN,None,265,188,0,53.68,0.00,0.5,0.00,0.00,0.3,54.48,NaN,NaN
1369768,2,2021-01-31 23:08:29,2021-01-31 23:31:22,NaN,4.68,NaN,None,89,61,0,25.45,2.75,0.5,0.00,0.00,0.3,29.00,NaN,NaN

In [47]:
#taxidata.to_csv("taxidata.csv", index=False)

In [48]:
from sqlalchemy import create_engine

In [49]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [50]:
print(pd.io.sql.get_schema(taxidata, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [51]:
trips_iter = pd.read_csv(r'taxidata.csv', iterator=True, chunksize=100000)
df = next(trips_iter)
len(df)

100000

In [52]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime  = pd.to_datetime(df.tpep_dropoff_datetime)

In [53]:
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [54]:
%time df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

CPU times: user 10.1 s, sys: 719 ms, total: 10.8 s
Wall time: 25.1 s

1000

In [55]:
from time import time

In [56]:
while True:
    t_start = time()

    df = next(trips_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime  = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

    t_end = time()

    print('Inserted another chunk.. took %.3f second ' % (t_end - t_start))

Inserted another chunk.. took 19.641 second
Inserted another chunk.. took 19.204 second
Inserted another chunk.. took 19.529 second
Inserted another chunk.. took 18.305 second
Inserted another chunk.. took 19.272 second
Inserted another chunk.. took 19.450 second

/var/folders/57/6_cf38v56x95dvxfrh2y8ppw0000gn/T/ipykernel_4139/2436826703.py:6: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.tpep_dropoff_datetime  = pd.to_datetime(df.tpep_dropoff_datetime)

Inserted another chunk.. took 19.309 second
Inserted another chunk.. took 19.688 second
Inserted another chunk.. took 20.307 second
Inserted another chunk.. took 19.774 second
Inserted another chunk.. took 18.968 second

/var/folders/57/6_cf38v56x95dvxfrh2y8ppw0000gn/T/ipykernel_4139/2436826703.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(trips_iter)

Inserted another chunk.. took 19.711 second
Inserted another chunk.. took 12.414 second

StopIteration: